<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Messages</title>

</head>
<body>
    <div th:each="client: ${clients}">
        <h1 th:text="${client.getName()}">Client</h1>
        <h2>Messages</h2>
        <div th:if="${client.getMessages().isEmpty()}">
            Dieser Client hat keine Nachrichten geschickt
        </div>
        <div th:unless="${client.getMessages().isEmpty()}">
            <ul th:each="message: ${client.getMessages()}">
                <li th:text="${message}"/>
            </ul>
        </div>
    </div>
    <br>
    <form action="/" method="post">
        <button type="submit">Reset All Messages</button>
    </form>
</body>
</html>